name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          architecture: ${{ runner.os == 'macOS' && 'arm64' || 'x64' }}

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Create venv
        run: |
          python -m venv .venv
          if [ -x ".venv/bin/python" ]; then
            echo "PYTHON_EXEC=$PWD/.venv/bin/python" >> $GITHUB_ENV
          else
            echo "PYTHON_EXEC=$PWD/.venv/Scripts/python.exe" >> $GITHUB_ENV
          fi

      - name: Install build deps
        run: $PYTHON_EXEC -m pip install --upgrade pip maturin setuptools wheel

      - name: Build wheel
        env:
          PYO3_PYTHON: ${{ env.PYTHON_EXEC }}
        run: $PYTHON_EXEC -m maturin build --release --out dist

      - name: Install wheel
        run: $PYTHON_EXEC -m pip install dist/*.whl

      - name: Run Tests
        run: $PYTHON_EXEC -m unittest discover tests
